h1{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.05em;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  background: #C21313;
  color:white;
}

.bd {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}

.con {
  width: 150px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item {
  font-size: 2rem;
  font-family: "UnifrakturMaguntia", cursive;
  color: brown;
  opacity: 46%;
}